__pycache__/
build/
dist/
MANIFEST
*.manifest
*.spec
.cache
*.log
.scrapy
target/
.env
.envrc
.venv
env/
venv/
ENV/
*.py
*.dat

# macOS
.DS_Store

# Database dumps
*.sql.dump
*.sql.gz

# n8n local data
.n8n/
